<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="BankService" transaction-type="JTA">
        <jta-data-source>jdbc/oracleDS</jta-data-source>
        <properties>
            <property name="eclipselink.target-server" value="WebLogic_12"/>
            <property name="eclipselink.target-database" value="Oracle"/>
            <property name="eclipselink.logging.level" value="ALL"/>
        </properties>
    </persistence-unit>
</persistence>


















